/*c'est super facile faut faire comme l'exemple, 
on rentre la réference du paragraphe HTML qu'on veut modifierOn rentre ensuite dans le HEAD de notre HTML :     <link rel="stylesheet" href="css1.css"/>  d*/

h1{
        color: red;
        font-family: 'impact';
        font-size: 70px;
        background-color: #19807e;
        padding: 250px;
        background-image: url("images/charvieu1.jpg");
        border-image-width: 100px;
        background-attachment:fixed ;
        background-position: top;
    }
    .annonce {
        font-size: 90px;
    }
    .week {
        font-size: 120px;
    }
    .slip,
    .annonce,
    .week {
        border: 10px solid black;
    }
    .annonce:hover,
    .week:hover,
    .slip:hover {
        color: black;
        border: 10px solid red;
        text-decoration: underline red;
        
    }



    h2 {
        color: #040278;                         
        
        font-size: 35px;
        font-family: 'impact';
    }
    .h2{
        border: 14px dotted black;
        border-radius: 28px;
    }



    h3 {
        color: #5a00f5;
        font-size: 45px;
        font-family: 'Pacifico', cursive;
    }
    .ragla{
        border: 10px solid #5a00f5;
        border-radius: 20px 50px 20px 50px;
    }


    h4 {
        color: #ffff00;
        font-size: 25px;
        font-family: 'Comic Sans MS';
    }


    h5 {
        color: #ffff00;
        font-size: 25px;
        font-family: 'Comic Sans MS';
    }


    body{
        background: linear-gradient(to right, #005aa7, #fffde4);
    }




/* PAS COMPRIS WLH
    .slip:focus {
        background-color: aqua;
        color: blue;
        outline-color: green;
    }
*/