body{
    background-color: darkgrey;

}



h3 {
    color: black;
    font-family: 'impact';
    font-size: 80px;
}

h4{
    color: red;
    font-family: 'impact';
    font-size: 80px;

}

.filmds {
    color: red;
    font-family: 'impact';
    font-size: 150px;
    border: 10px dashed black;
    border-radius: 80px;
    box-shadow: 6px 6px 15px rgb(00, 00, 00);
    text-shadow: 8px 8px 15px black;
}

.sortie {
    border: 10px double black;
    border-radius: 52% 48% 44% 56% / 11% 9% 91% 89%;
    
}

.explo {
    border: 10px dotted black;
    border-radius: 100% 0% 100% 0% / 50% 50% 50% 50%;
    background-color: red;
}



/*
img:hover {
    opacity: 0.5;
}
*/


