ul {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    color: black;
        background-position: center;
        background-size: cover;
        background-image: url(images/ciel.jpg) ;
        background-repeat: no-repeat;
        padding: 3%;
        background-attachment: local;
        border: 12px solid lightskyblue;
        border-radius: 22px;
}



ul:active {
    color: red;
}




.li1,
.li2,
.li3,
.li4 {
    background-color: white;
        border-right: 12px solid black;
        border-bottom: 12px solid black;

            border-radius: 12px 12px 12px 12px;

                box-shadow: 8px 8px 15px rgb(00, 00, 00);
                text-shadow: 8px 8px 15px black;
}

.li1:hover,
.li2:hover,
.li3:hover,
.li4:hover{
    border-right: 12px solid #FFD700;
        border-bottom: 12px solid #FFD700 ;

            border-radius: 12px;

                box-shadow: 32px 32px 50px white;
                text-shadow:16px 16px 24px ;
                color: lightskyblue;
                text-decoration: not underline;

}





